<h1> <%= @event.title %> </h1>

<p> <%= @event.description %> </p>

<p> Par <%= @admin.email %> </p>

<p> Débute le  <%= @event.start_date %> </p>

<p> Dure  <%= @event.duration %> </p>

<p> Prix  <%= @event.price %> €</p>
