<div class=centered-container>

<h1 class="pixel"> <%= @event.title %> </h1>


<div class="event-card">
<p> <%= @event.description %> </p>

<p> Par <%= @admin.email %> </p>

<p> Débute le  <%= @event.start_date.strftime("%d/%m/%Y") %> </p>

<p> Dure  <%= @event.duration %> </p>

<p> Prix  <%= @event.price %> €</p>
</div>

</div>