<div class=centered-container>

<h1 class="pixel"> <%= @event.title %> </h1>


<div class="event-card">
<p> <%= @event.description %> </p>

<p> Par <%= @admin.email %> </p>

<p> Débute le  <%= @event.start_date.strftime("%d/%m/%Y") %> </p>

<p> Dure  <%= @event.duration %> </p>

<p> Prix  <%= @event.price %> €</p>

<%if @event.image.attached?%>
  <%= image_tag @event.image, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas d'image liée à cet évenement ===</p>
<%end%>
</div>

<%if current_user && current_user.id == @admin.id%>
<h3>Changer l'image ?</h3>
<%= form_tag event_image_index_path(@event), multipart: true do %>
  <%= file_field_tag :image %>
  <%= submit_tag "Mettre à jour" %>
<% end %>
<%end%>

</div>